.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

h1,
p,
h2 {
  color: #fff;
  font-size: 4rem;
}

.counter,
.traffic-light {
  margin-bottom: 2rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 0.5rem;
}

.traffic-light div {
  margin: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.red-light {
  border: 1px solid #e03131;
}
.red-light.red {
  background-color: #e03131;
}

.green-light {
  border: 1px solid #2f9e44;
}
.green-light.green {
  background-color: #2f9e44;
}

.yellow-light {
  border: 1px solid #ffd43b;
}
.yellow-light.yellow {
  background-color: #ffd43b;
}

@media (max-width: 600px) {
  .traffic-light div {
    width: 5rem;
    height: 5rem;
  }
}
